# Compiled class file
/classes/

# Test cases
testcases
!README.md
*.det
*.md
*.stat
*.tbl
*.txt
*.sql
*.out

# MacOS custom attributes snom.storage created by Finder
.DS_Store
*.iml
bin/

# IDEA
/.idea/
/out/
/*.iml
